.wrapper {
    display: flex;
}

.nav-area {
    background-color: orange;
    flex-basis: 20%;
    min-width: 20%;
}

nav {
    position: fixed;
    right: 86%;
    /* top: 40vh; */
}

nav a {
    text-decoration: none;
    color: #404040;
}

nav a:hover {
    color: #ff6873;
}

.main-area {
    flex-basis: 80%;
    border-left: solid 1px #a0a0a0;
}

.sentence {
    border: solid 1px #0000ff;
    width: 750px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 40px;
}

.content {
    min-height: 800px;
}

.skills-sentence {
    margin: 180px 300px 0px 300px;
    border: solid 1px #0000ff;
    text-align: center;
    width: 1000px;
}

.jigazou img {
    width: 500px;
}

#myworks img {
    width: 800px;
}

.img-container {
    text-align: center;
}
